<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://images.vexels.com/media/users/3/341348/isolated/preview/77db7ee99da808a6537fd64e635560af-emoji-carita-sonriente-marra-n.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/dashboard.css">
    <title>Klísi</title>
</head>
<body>
    <main>
        <header>
            <div>
                <img src="https://cdn.pixabay.com/photo/2017/04/15/04/36/incognito-2231825_960_720.png" alt="">
            </div>
            <span>Name</span>
        </header>
        <aside>
            <div class="img-container">
                <img src="https://images.vexels.com/media/users/3/341348/isolated/preview/77db7ee99da808a6537fd64e635560af-emoji-carita-sonriente-marra-n.png" alt="">
                <h2>Klísi</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="/streams">Streaming</a></li>
                    <li><a href="/visitors">Videocall</a></li>
                </ul>
            </nav>
        </aside>
        <article id="card-container">
            
        </article>
    </main>

    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/dashboard.js"></script>
</body>
</html>